.overlay{
    position: absolute;
    bottom: 0; left: 0; right: 0; width: 100%; 
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1.5rem;
    transform: translateY(100%);
    transition: transform 0.4s ease 0.3s;
    z-index: 10;
}

.visible{
    transform: translateY(0);
}

.content{
    max-width: 600px;
    margin: 0 auto;
}